<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Heather Lewin">
    <meta name='description' content="Semester project for HCI5840 Fall 2024">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Settings</title>
</head>
<body>
    <form method="POST">
        <label for="water_goal">Water Goal (ml):</label>
        <input type="number" id="water_goal" name="water_goal" required><br>
        <label for="protein_goal">Protein Goal (g):</label>
        <input type="number" id="protein_goal" name="protein_goal" required><br>
        <input type="submit" value="Save Settings">
    </form>
</body>
</html>