<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Heather Lewin">
    <meta name='description' content="Semester project for HCI5840 Fall 2024">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>75 Hard Challenge Tracker</title>
   
   
  </head>
  <body>
    <h1>75 Hard Challenge Tracker</h1>

<form method="POST" action="/edit_habits">
  <label>Water Intake: <input type="checkbox" name="water_intake" {% if daily_data['Water'] %}checked{% endif %}></label><br>
  <label>Exercise Completed: <input type="checkbox" name="exercise_completed" {% if daily_data['Exercise'] %}checked{% endif %}></label><br>
  <label>Second Exercise: <input type="checkbox" name="exercise_completed2" {% if daily_data['Exercise2'] %}checked{% endif %}></label><br>
  <label>Outside Exercise: <input type="checkbox" name="exercise_outside" {% if daily_data['Outside'] %}checked{% endif %}></label><br>
  <label>Diet Followed: <input type="checkbox" name="diet_followed" {% if daily_data['Diet'] %}checked{% endif %}></label><br>
  <label>Pages Read: <input type="number" name="read_pages" value="{{ daily_data['Read'] }}"></label><br>
  <label>Picture Taken: <input type="checkbox" name="picture_taken" {% if daily_data['Picture'] %}checked{% endif %}></label><br>
  <button type="submit">Update Habits</button>
</form>