<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Heather Lewin">
    <meta name='description' content="Semester project for HCI5840 Fall 2024">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>75 Hard Challenge Tracker</title>
    <script>
        function toggleInfo(infoId) {
          var info = document.getElementById(infoId);
          if (info.style.display === 'none' || info.style.display === '') {
            info.style.display = 'block';
          } else {
            info.style.display = 'none';
          }
        }
        let water_oz = {{water_oz}}
        function addWater(amount) {
          water_oz += amount;
          document.getElementById('water_display').innerText = water_oz;
        }
      </script>

  </head>
  <body>
    <h1>75 Hard Challenge Tracker</h1>
    
    <div class="row">
      <div class="column">
        <h2>Today's Tasks</h2>
        <form action="/tracker_extra" method="post">
            
          <label for="water_intake">
            <button type="button" onclick="toggleInfo('water_info')">Drink at least 1 gallon of water. </button>
          </label>
          <div id="water_info" class="info">
            <label>Water intake so far: <span id="water_display">{{ water_oz }}</span> oz</label><br>
                <button type="button" class ="btn btn-add" onclick="addWater(8)">Add 8 oz</button>
                <button type="button" class ="btn btn-add" onclick="addWater(16)">Add 16 oz</button>
                <button type="button" class ="btn btn-add" onclick="addWater(24)">Add 24 oz</button>
          <label for="water_intake">Other amount:<input type="number" id="water_intake" name="water_intake"></label>
          </div>
          <br>

          <label for="exercise_completed">
            <button type="button" onclick="toggleInfo('e1_info')">Exercise 45 Minutes One -- outside. </button>
          </label>
          <div id="e1_info" class="info">
            <label>Add your exercise time and type:</label><br>
            <label for="e1_time">Time:<input type="number" id="e1_time" name="e1_time"></label>
            <label for="e1_type">Type:<input type="text" id="e1_type" name="e1_type"></label>

            <label for="exercise_outside">
              <input type="checkbox" name="exercise_outside" id="exercise_outside" {% if daily_data.Outside %}checked{% endif %}>
              Exercised Outside
            </label>
          </div>
          <br>

          <label for="exercise_completed2">
            <button type="button" onclick="toggleInfo('e2_info')">Exercise 45 Minutes Two. </button>
          </label>
          <div id="e2_info" class="info">
            <label>Add your exercise time and type:</label><br>
            <label for="e2_time">Time:<input type="number" id="e2_time" name="e2_time"></label>
            <label for="e2_type">Type:<input type="text" id="e2_type" name="e2_type"></label>
          </div>
          <br>
      
          <label for="diet_followed">
            <input type="checkbox" name="diet_followed" id="diet_followed" {% if daily_data.Diet %}checked{% endif %}>
            Diet Followed
          </label>
          <button type="button" onclick="toggleInfo('diet_info')">Diet</button>
          <div id="diet_info" class="info">
          <label for="calories">Calories:<input type="number" id="calories" name="calories"></label>
          </div>
          <br>
          
          <label for="read_pages">
            <button type="button" onclick="toggleInfo('read_info')">Read at least 10 pages. </button>
          </label>
          <div id="read_info" class="info">
            <label for="pages">Number of pages:<input type="number" id="pages" name="pages"></label>
            <label for="title">Title:<input type="text" id="title" name="title"></label>
          </div>
          <br>
     
          <label for="picture_taken">
            <input type="checkbox" name="picture_taken" id="picture_taken" {% if daily_data.Picture %}checked{% endif %}>
            Picture Taken
          </label>
          <br>
          
          <button type="submit">Submit Today's Progress</button>
        </form>
        <br>
      </div>
      <div class="column">
        <h2>Day {{ streak }}</h2>
        <br>
        <h2>Progress</h2>
        <form>
          <br>
          <br>
          <br>
          <br>
          <br>
        </form>
      </div>
    </div>
  </body>
</html>
