<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Heather Lewin">
    <meta name='description' content="Semester project for HCI5840 Fall 2024">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title >Habit Tracker</title>
    
    <script>
    // Function to toggle between simple and complex input for each habit
    function toggleHabitInput(habitId) {
        const habitType = document.getElementById(habitId).value;
        const simpleInput = document.getElementById(`${habitId}-checkbox`);
        const complexInput = document.getElementById(`${habitId}-complex`);

        if (habitType === 'simple') {
            simpleInput.style.display = 'block';
            complexInput.style.display = 'none';
        } else {
            simpleInput.style.display = 'none';
            complexInput.style.display = 'block';
        }
        }
    </script>




</head>
<body>
    <h2>Current Streak: {{ streak }} days</h2>

    <form method="POST">

        <label for="water_intake">Water Intake (fl oz):</label>
        <input type="number" id="water_intake" name="water_intake" required><br>

        <input type="checkbox" name="Outside" value="Outside">
        <label for="exercise_completed">Exercise Completed:</label>
        <input type="radio" id="yes" name="exercise_completed" value="yes" required>
        <label for="yes">Yes</label>
        <input type="radio" id="no" name="exercise_completed" value="no" required>
        <label for="no">No</label><br>
    

        <div id="container" background="#B5dBff" >
        <input type="checkbox" value="Outside">
        <label for="exercise_completed2">Exercise Completed 2</label>

        </div>

        <button type="button habits" class="collapsible">  
            <input type="checkbox" value="water">      
            <label for="water_intake" background="">Water Intake (fl oz):</label>           
        </button>
        <div class="content">
            <p>Add your water intake:</p><br>
            <button type="button" water_amount>8 oz </button>
            <button type="button">12 oz </button>
            <button type="button">16 oz </button><br>
            <label for="water_intake">Other amount:</label>
            <input type="number" id="water_intake" name="water_intake" required><br>

        </div>


        <input type="submit" value="Save">

    </form>
</body>
</html>